@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>Enrollment Date: @Html.ValueFor(model => model.EnrollmentDate, "{0:dd/MM/yyyy}")</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student does not belong to any courses</p>
}
else
{
  <div class="table">
    <ul>
      <li class="column-header">Completed Courses</li>
      @foreach(var join in Model.JoinEntities)
      {
        if (join.Status == "Completed") {
          <li>@join.Course.Name </li>
        }
      }
    </ul>
    <ul>
      <li class="column-header">Incomplete Courses</li>
      @foreach(var join in Model.JoinEntities)
      {
        if (join.Status == "Incomplete") {
          <li>@join.Course.Name@join.Course.Number </li>
        }
      }
    </ul>
  </div>
}
<p>@Html.ActionLink("Edit Courses", "EditCourses", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>